
body{
    background-color: black;
    color:white;
    font-family: sans-serif;

}
.container{
    text-align:center;
    padding-bottom:0%;

}


.para1{
   
    width: 90%;
    padding-top: 300px;
    margin-top: -50%;
    font-family: sans-serif;
    text-align:initial;
}

table{
    width:100%;
}
b{
    font-size: 40px;
}
h4{
    color:rgb(95, 224, 138) ;
}


